[sqlite教程](https://www.runoob.com/sqlite/sqlite-tutorial.html)
# 数据库支持

## py数据库API

### 全局变量

1. apilevel-数据库API版本，字符串常量
2. threadsafety-线程安全程度，0-3
3. paramstyle-SQL查询参数风格

### 异常

StandardError 所有异常的超类
Warning StandardError 发生非致命问题时引发
Error StandardError 所有错误条件的超类
InterfaceError Error 与接口（而不是数据库）相关的错误
DatabaseError Error 与数据库相关的错误的超类
DataError DatabaseError 与数据相关的问题，如值不在合法的范围内
OperationalError DatabaseError 数据库操作内部的错误
IntegrityError DatabaseError 关系完整性遭到破坏，如键未通过检查
InternalError DatabaseError 数据库内部的错误，如游标无效
ProgrammingError DatabaseError 用户编程错误，如未找到数据库表
NotSupportedError DatabaseError 请求不支持的功能，如回滚

### 连接和游标

connect函数

```
dsn 数据源名称，具体含义随数据库而异 否
user 用户名 是
password 用户密码 是
host 主机名 是
database 数据库名称 是
```

连接后方法

```
close() 关闭连接对象。之后，连接对象及其游标将不可用
commit() 提交未提交的事务——如果支持的话；否则什么都不做
rollback() 回滚未提交的事务（可能不可用）
cursor() 返回连接的游标对象
```

更新和删除后需要提交，查询和新建不需要

游标对象cursor()

```
callproc(name[, params]) 使用指定的参数调用指定的数据库过程（可选）
close() 关闭游标。关闭后游标不可用
execute(oper[, params]) 执行一个SQL操作——可能指定参数
executemany(oper, pseq) 执行指定的SQL操作多次，每次都序列中的一组参数
fetchone() 以序列的方式取回查询结果中的下一行；如果没有更多的行，就返回None
fetchmany([size]) 取回查询结果中的多行，其中参数size的值默认为arraysize
fetchall() 以序列的序列的方式取回余下的所有行
nextset() 跳到下一个结果集，这个方法是可选的
setinputsizes(sizes) 用于为参数预定义内存区域
setoutputsize(size[, col]) 为取回大量数据而设置缓冲区长度
```

一些类型

## SQLite与PySQLite

数据库引擎

sqlite3

In [4]:
# SQLite连接数据库
import sqlite3
conn=sqlite3.connect('b_comm.db')
curs=conn.cursor()
conn.commit()
conn.close()

In [13]:
import sqlite3#建表

conn = sqlite3.connect('test.db')
print("Opened database successfully")
c = conn.cursor()
c.execute('''CREATE TABLE COMPANY
       (ID INT PRIMARY KEY     NOT NULL,
       NAME           TEXT    NOT NULL,
       AGE            INT     NOT NULL,
       ADDRESS        CHAR(50),
       SALARY         REAL);''')
print("Table created successfully")
conn.commit()
conn.close()

Opened database successfully

OperationalError: table COMPANY already exists

In [15]:
#!/usr/bin/python
#插入数据

import sqlite3

conn = sqlite3.connect('test.db')
c = conn.cursor()
print("Opened database successfully")

c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )")

c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )")

c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")

c.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )")

conn.commit()
print("Records created successfully")
conn.close()

Opened database successfully
Records created successfully

In [18]:
conn=sqlite3.connect('test.db')#select
c=conn.cursor()
print("Opened database successfully")
data=c.execute("select * from COMPANY")
for i in data:
    print(i)
print("Operation done successfully")
c.close()

Opened database successfully
(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)
Operation done successfully

In [22]:
#update
#!/usr/bin/python

import sqlite3

conn = sqlite3.connect('test.db')
c = conn.cursor()
# print "Opened database successfully"

c.execute("UPDATE COMPANY set SALARY = 25000.00 where ID=1")
conn.commit()#更新后提交
print("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

# print "Operation done successfully"
conn.close()

Total number of rows updated : 1
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  25000.0

ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

In [23]:
#!/usr/bin/python
#delete
import sqlite3

conn = sqlite3.connect('test.db')
c = conn.cursor()
# print "Opened database successfully"

c.execute("DELETE from COMPANY where ID=2;")
conn.commit()
print("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary  from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3], "\n")

# print "Operation done successfully"
conn.close()

Total number of rows deleted : 1
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  25000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0